{
    auto_https disable_redirects
    email admin@rainss.cn
}
example.com:80 {
    encode gzip
    root * /www/websites/typecho
    php_fastcgi php-fpm:9000
    file_server
}
http://www.example.com {
    root * /www/websites/typecho
    encode gzip
    php_fastcgi php-fpm:9000
    file_server
}